In [ ]:
import numpy as np

In [ ]:
np.__version__

'1.25.2'

### Instanciando um array a partir de dados

#### Array de 1 dimens√£o

Instancie um `array_a` com os elementos `1`, `2`, `3`, `4` e `5`, em uma √∫nica dimens√£o.

Printe dois atributos deste array, `shape` e `ndim`, para confirmar que este √© um array 1-D.

In [ ]:
array_a = np.array([1, 2, 3, 4, 5])

In [ ]:
array_a.shape, array_a.ndim

((5,), 1)

Printe tamb√©m o atributo `size` para verificar quantos elementos este array cont√©m.

In [ ]:
array_a.size

5

#### Array de 2 dimens√µes

Agora instancie um `array_b` com os elementos `1` a `10`, organizados em 2 linhas e 5 colunas. Lembre-se que, neste caso, voc√™ precisa representar os valores no formato **lista de listas**, onde cada lista interna representa uma linha do array.

Tamb√©m printe `shape`, `ndim` e `size`.

In [ ]:
array_b = np.array([[1, 2, 3, 4, 5],
                    [6, 7, 8, 9, 10]])

In [ ]:
array_b.shape, array_b.ndim, array_b.size

((2, 5), 2, 10)

#### Array de 3 dimens√µes

Crie um `array_c` com os elementos `1` a `20`, com profundidade 2, 5 linhas e 2 colunas. Aqui, voc√™ vai precisar representar os valores no formato **lista de listas de listas**.

Printe `shape`, `ndim` e `size`.

In [ ]:
array_c = np.array([[[ 1,  2],
                     [ 3,  4],
                     [ 5,  6],
                     [ 7,  8],
                     [ 9, 10]],

                     [[11, 12],
                      [13, 14],
                      [15, 16],
                      [17, 18],
                      [19, 20]]])

In [ ]:
array_c.shape, array_c.ndim, array_c.size

((2, 5, 2), 3, 20)

#### `dtype`

Agora vamos verificar como voc√™ pode instanciar um array explicitando o tipo de dado que ser√° armazenado.

Abaixo voc√™ recebe uma lista, `list_d`, com 5 valores informados como inteiros.

In [ ]:
list_d = [1, 2, 3, 4, 5]
for i in list_d:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

Partindo desta lista, instancie um array `array_d` convertendo seu `dtype` para `np.float16`.

Exiba o `dtype` deste array.

In [ ]:
array_d = np.array(list_d, dtype=np.float16)

In [ ]:
array_d.dtype

dtype('float16')

Agora instancie o mesmo `array_d` mas com `dtype` igual a `np.float32`. Exiba o `dtype`.

In [ ]:
array_d = np.array(list_d, dtype=np.float32)

In [ ]:
array_d.dtype

dtype('float32')

Novamente instancie `array_d`, mas agora com `dtype` igual a `np.str_`. Exiba o `dtype`.

In [ ]:
array_d = np.array(list_d, dtype=np.str_)

In [ ]:
array_d.dtype

dtype('<U1')

Por √∫ltimo instancie `array_d` com `dtype` igual a `np.bool`.

Desta vez, exiba o pr√≥prio array e seu `dtype`.

In [ ]:
array_d = np.array(list_d, dtype=np.bool_)

In [ ]:
array_d

array([ True,  True,  True,  True,  True])

In [ ]:
array_d.dtype

dtype('bool')

üí° Observe que todos os valores s√£o expressos como `True`. Isto ocorre porque, para n√∫meros, o Python interpreta `0` como `False`, e qualquer outro valor como `True`.